.dashboard-nav {
  padding: 40px 60px 0px 60px;
}

.dashboard-nav .col {
  padding: 0%;
}

.dashboard-nav .row {
  margin: 0%;
  align-items: center;
}

.dashboard-logo {
  align-items: center;
  gap: 15px;
}

.dashboard-user {
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  font-weight: 500;
}

.dashboard-user-img {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 25px;
}

.dashboard-user-img img {
  width: 100%;
  object-fit: cover;
}

.dashboard-main {
  padding: 30px 60px;
}

.dash-sidebar {
  height: 750px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 20px;
  border-right: 1px solid #0276ff;
  .sidebar-item {
    width: 150px;
    color: black;
    padding: 10px 20px;

    &:hover {
      color: #0276ff;
    }
  }
}

.sidebar-item:first-child {
  background-color: #e3effb;
  border: none;
  border-radius: 10px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
}
