.dash-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dash-container {
  display: flex;
  padding-block: 10px;
}

.menu-container {
  width: 280px;
  padding: 5px 40px 5px 50px;
  border-right: 1px solid #0276ff;
}

.content-container {
  padding: 5px 50px 5px 20px;
  width: 100%;
}

.dash-container {
  @media screen and (max-width: 1400px) {
    background-color: rgba(255, 166, 0, 0.329);
  }
}

.dash-container {
  @media screen and (max-width: 1200px) {
    background-color: rgba(255, 166, 0, 0.329);
  }
}

.dash-container {
  @media screen and (max-width: 1024px) {
    background-color: rgba(255, 0, 0, 0.192);
  }
}

.dash-container {
  @media screen and (max-width: 768px) {
    background-color: rgba(102, 51, 153, 0.24);
  }
}

.dash-container {
  @media screen and (max-width: 480px) {
    background-color: #0278ff1e;
  }
}
