.navigation-nav {
  padding: 40px 60px 0px 60px;
  align-items: center;
}

.navigation-button button {
  margin-inline-start: 50px;
  padding: 10px;
  font-size: 20px;
  background:none;
}

.signup {
  border-radius: 10px;
  border: 1px solid #0276ff;
  background: #e3effb;
}

/* After User Login */

.user-name {
  font-size: 18px;
  padding-inline: 15px;
  font-weight: 500;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 10px;
  overflow: hidden;
  border: 1px solid #0276ff;
}

.user-avatar img {
  width: 100%;
  object-fit: contain;
}
