.newlink-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.newlink-shortUrl {
  position: fixed;
  top: 0;
  left: 0;
}

.newlink-heading {
  font-size: 40px;
  font-weight: 600;
  padding: 10px;
  text-align: center;
}

.newlink-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(50px, 100%), 700px));
  gap: 20px;
}

.url-input {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.url-input label {
  font-weight: 500;
}

.url-input input {
  height: 50px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #a6b3c7;
  background: #e3effb;

  &:focus {
    outline: #0276ff solid 1px;
    outline-offset: -1px;
  }

  ::placeholder {
    color: #a6b3c7;
  }
}

.custom-input {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
}

.custom-input span {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 50px;
  border-radius: 10px;
  background-size: 400%;
  background-image: linear-gradient(
    45deg,
    rgba(192, 233, 239, 1) 0%,
    rgba(196, 216, 243, 1) 25%,
    rgba(200, 199, 247, 1) 50%,
    rgba(204, 181, 251, 1) 75%,
    rgba(208, 164, 255, 1) 100%
  );
  animation: ani 1s infinite alternate;
}

@keyframes ani {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-input input {
  height: 50px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #a6b3c7;
  background: #e3effb;

  &:focus {
    outline: #0276ff solid 1px;
    outline-offset: -1px;
  }

  ::placeholder {
    color: #a6b3c7;
  }
}

.newlink-submit button {
  height: 50px;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  background: #0276ff;
  color: #e3effb;
}
